<div class="flex items-center gap-8 py-2 px-4">
  <button class="bg-transparent border-none p-0 m-0 focus:outline-none" title="Filter" (click)="onFilter()">
    <lucide-icon name="ListFilter" class="w-5 h-5 text-base-content"></lucide-icon>
  </button>
  <button class="bg-transparent border-none p-0 m-0 focus:outline-none" title="Add" (click)="onAdd()">
    <lucide-icon name="Plus" class="w-5 h-5 text-base-content"></lucide-icon>
  </button>
  <button class="bg-transparent border-none p-0 m-0 focus:outline-none" title="Search" (click)="onSearchClick()">
    <lucide-icon name="Search" class="w-5 h-5 text-base-content"></lucide-icon>
  </button>
</div>
<div class="border-t w-full mt-1 border-gray-400 text-base-content"></div> 